{% extends 'layout.twig' %}

{% block body %}
    <h1>page d'acceuil</h1>
    <a class="btn btn-warning m-1" href="/addVehicule">Deposer un vehicule</a>
    <a class="btn btn-light m-1" href="/logout">Deconnection</a>
{% endblock %}