{% extends "layout.twig" %}
{% block body %}
<div class="container">
    <h1 class="text-center text-uppercase text-warning">Reset your password</h1>
        <form method="post" class="d-flex flex-column align-items-center">
            <div class="form-group col-md-6">
                <label for="password">password :</label>
                <input class="form-control" type="password" name="password" id="password" placeholder="New Password">
            </div>
              {% if errorForm %}
                        {% for error in errorForm %}                                    
                                {% if error.password %}
                                    <div class="text-muted"><i>{{ error.password.message}}</i></div>
                                {% endif %}
                        {% endfor %}
                    {% endif %}
             <div class="form-group col-md-6">
                <label for="cpassword">Re-type your password :</label>
                <input class="form-control" type="password" name="cpassword" id="password" placeholder="New Password">
            </div>
              {% if errorForm %}
                        {% for error in errorForm %}                                    
                                {% if error.password %}
                                    <div class="text-muted"><i>{{ error.cpassword.message}}</i></div>
                                {% endif %}
                        {% endfor %}
                    {% endif %}
            <div class="form-group  mt-3">
                <button class="btn btn-warning btn-block mb-3 mt-3" type="submit">Reset password</button>
            </div>
        </form>
</div>

{% endblock %}