*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.box-sha{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
  
  .card{
    
    border: none;
    background: #eee;
  
  }
  .search {
    width: 100%;
        margin-bottom: auto;
      margin-top: 20px;
      height: 50px;
          background-color: #fff;
      padding: 10px;
      border-radius: 5px;
  }
  
  .search-input {
      color: white;
      border: 0;
      outline: 0;
      background: none;
      width: 0;
      margin-top: 5px;
      caret-color: transparent;
      line-height: 20px;
      transition: width 0.4s linear
  }
  
  .search .search-input {
      padding: 0 10px;
      width: 100%;
      caret-color: #536bf6;
      font-size: 19px;
      font-weight: 300;
      color: black;
      transition: width 0.4s linear;
  }
  
  
  .search-icon {
          height: 34px;
      width: 34px;
      float: right;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      background-color: #536bf6;
      font-size: 10px;
          bottom: 30px;
          position: relative;
          border-radius: 5px;
  }
  
  .search-icon:hover{
  
    color: #fff !important;
  }
  
  a:link {
      text-decoration: none
  }
  
  
  
  .card-inner {
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 1px solid rgba(0,0,0,.125);
      border-radius: .25rem;
      border:none;
      cursor: pointer;
      transition: all 2s;
  }
  
  
  .card-inner:hover{
  
     transform: scale(1.1);
  
  }
  
  .mg-text span{
  
    font-size: 12px;
  
  }
  
  .mg-text{
  
    line-height: 14px;
  }
:root {
  --main-bg-color: #8DA1B9;
  --main-text-color: #8DA1B9;
  --second-text-color: #8DA1B9;
  --second-bg-color: #212528;
}

.primary-text {
  color: var(--main-text-color);
}

.list-group-flush a:hover{
  color: #ff778a;
}

.second-text {
  color: var(--second-text-color);
}



.primary-bg {
  background-color: var(--main-bg-color);
}

.secondary-bg {
  background-color: var(--second-bg-color);
}

.rounded-full {
  border-radius: 100%;
}

#wrapper {
  overflow-x: hidden;
  background-image: #383961;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
  color: #8DA1B9;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#menu-toggle {
  cursor: pointer;
}

.list-group-item {
  border: none;
  padding: 20px 30px;
}
#sidebar-wrapper{
  background-color: #000500;
}
.fa-user-secret{
  color: #FF778A;
}

.list-group-item.active {
  background-color: transparent;
  color: var(--main-text-color);
  font-weight: bold;
  border: none;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.btn-retour:hover{
  background-color: #000500;
  color: white;
}

.btn-retour{
  background-color: #383961;
  color: white;
}
.descr{
  width: 40%;
  height: auto;
}

.depot{
  width: 20rem;
  height: auto;
}
.navbar{
  margin-bottom: 25px;
  padding: 15px;
}

.container-fluid{
  margin: 0;
  padding: 0;
}

.btn-voir{
  background-color: #383961;
  color: white;
}

.btn-voir:hover{
  background-color: #ff778a;
  color: white;
}
.btn-secondary:hover{
  background-color: #ff778a;
  border-color: #ff778a;
}

.orange{
  color: #FF778A;
}